@charset "utf-8";
/* CSS Document */
body{
	background:url(../images/bg.jpg) no-repeat 50% 0px;*/
	background-attachment: fixed;
}
	
#wrap{	
    position:relative;
	width: 100%;
	height: 1300px;
	height:auto;
	margin:auto;
	min-width: 1200px;
}

#toparea {
	position: relative;
	background-image: url(../images/topmenu.png);
	height: 207px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	z-index: 99;
	margin-right: auto;
	margin-left: auto;
}
#header {
	position: relative;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	position: absolute;
	height: 91px;
	width: 268px;
	top: 20px;
	left: 20px;
}
.tlogo{
	float:right;
	width:268px;
	height:91px;
	cursor: hand;
	background-image: url(../images/logo.png);
	background-position: 0px 0px;
}
.tlogo:hover{
	background-image: url(../images/logo.png);
	opacity:0.5;
	}

/*menu*/
.menubtn {
	position: absolute;
	top: -6px;
	right: 44px;
}
.btn {
	height: 53px;
	width: 110px;
	float: left;
	margin-left: 19px;
}

.tbtn1 {
	width:110px;
	height:53px;
	display:block;
	cursor: hand;
	background-image: url(../images/btn1.png);
	}
.tbtn1:hover{
	background-image: url(../images/btn1.png);
	opacity:0.5;
	}
.tbtn2 {
	width:110px;
	height:53px;
	display:block;
	cursor: hand;
	background-image: url(../images/btn2.png);
	}
.tbtn2:hover{
	background-image: url(../images/btn2.png);
	opacity:0.5;
	}
.tbtn3 {
	width:110px;
	height:53px;
	display:block;
	cursor: hand;
	background-image: url(../images/btn3.png);
	}
.tbtn3:hover{
	background-image: url(../images/btn3.png);
	opacity:0.5;
	}
.tbtn4 {
	width:110px;
	height:53px;
	display:block;
	cursor: hand;
	background-image: url(../images/btn4.png);
	}
.tbtn4:hover{
	background-image: url(../images/btn4.png);
	opacity:0.5;
	}
.tbtn5 {
	width:110px;
	height:53px;
	display:block;
	cursor: hand;
	background-image: url(../images/btn5.png);
	}
.tbtn5:hover{
	background-image: url(../images/btn5.png);
	opacity:0.5;
	}
.tbtn6 {
	width:110px;
	height:53px;
	display:block;
	cursor: hand;
	background-image: url(../images/btn6.png);
	}
.tbtn6:hover{
	background-image: url(../images/btn6.png);
	opacity:0.5;
	}
/*menu結束*/

/*content*/
#content {
	height: 1030px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#conbg {
	position: relative;
	background-image: url(../images/content.png);
	height: 1171px;
	width: 1000px;
	top:-131px;
	margin-right: auto;
	margin-left: auto;
}
#title{
	background-image: url(../images/license/title.png);
	width: 599px;
	height: 92px;
	display:inline-block;
	margin: 52px 0px 0px 122px;
}
#item{
	background-image: url(../images/license/item.png);
	width: 184px;
	height: 184px;
	float: left;
	margin: 47px 38px 0px 122px;
}
#word{
	margin: 45px 125px 0px 125px;
	font-size: 20px;
	line-height: 30px;
	color: #0e589f;
}
#word_1{
	margin: 15px 0px 0px 0px; 
}
#word1{
	margin: 40px 125px 0px 105px;
	font-size: 20px;
	line-height: 37px;
	color: #0e589f;
}
#word1_1{
	margin: 15px 0px 0px 5px; 
	font-size: 25px;
	font-weight:bold;
}
#word1_2{
	margin: 0px 0px 0px 0px;
}
#word1_2 li {
    list-style-image:url(../images/license/list.png);
}
#word2{
	margin: 40px 225px 0px 225px;
	font-size: 25px;
	line-height: 30px;
	color: #0e589f;
}
#word3{
	margin: 50px 125px 0px 125px;
	font-size: 20px;
	color: #ee2e24;
}
#word4{
	margin: 30px 125px 0px 125px;
}
#word4a{
	float: left;
	width: 370px;
	line-height: 30px;
}
#word4_1{
	font-size: 23px;
	color: #000000;
	font-weight:bold;
}
#word4_2{
	font-size: 20px;
	color: #29a2ee;
	cursor: hand;
}
a:link{
	color:#29a2ee;
}
a:visited{
	color:#29a2ee;
}
#word4_3{
	font-size: 20px;
	color: #6f6f6f;
}

/*content結束*/

#footer{
	position: absolute;
	width: 100%;
}

#foot{
	width: 800px;
	margin: auto;
	height: 40px;
}
#footer ul li {
	float: left;
}

.copyrightc {
	color: #FFFFFF;
	font-size: 8px;
	font-weight: bold;
	line-height: 16px;
}
.copyrightm {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin-left: 30px;
	margin-top: 8px;
	margin-bottom: auto;
}

@media screen and (max-width:1200px){
body{
	background:url(../images/bg1.jpg) no-repeat 0% 0px;
	}
}


@media screen and  (orientation: portrait) {
  body{
	background:url(../images/bg.jpg) no-repeat 50% 0px;
	width: 100%;
	background-attachment: fixed;
	min-width: 1200px;
	}
}